.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  background-color: #282c34;
}

.App-header {
  min-height: 100vh;
}

.form {
  display: flex;
}

.form input {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
}

.form button {
  padding: 10px;
  font-size: 16px;
  background: #2196f3;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: auto;
}

.list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 25px;
  position: relative;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item span {
  text-align: left;
  width: 200px;
  margin-right: auto;
  overflow: auto;
}

.item .delete {
  padding: 10px;
  font-size: 16px;
  background: #ff2929;
  color: white;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
}
